.outro {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  outline: none;
}

.outro__text {
  max-width: 1024px;
  width: 100%;
  position: relative;
  top: calc(var(--spaceL) * -1);

  @media (--mediaDesktop) {
    & {
      max-width: 920px;
    }
  }

  @media (--mediaLaptop) {
    & {
      max-width: 780px;
    }
  }

  @media (--mediaMobile) {
    & {
      top: calc(var(--space3XL) * -1);
    }
  }

  @media (--mediaMobileS) {
    & {
      top: calc(var(--spaceXL) * -1);
    }
  }

  @media (max-width: 820px) and (max-height: 420px) {
    & {
      top: calc(var(--spaceM) * -1);
    }
  }
}

.outro__name {
  text-transform: uppercase;
  font-size: calc((24 / 16) * 1rem);
  letter-spacing: 0.3em;
  color: var(--colorTextBody);
  margin-bottom: var(--space2XL);
  margin-top: 0;
  font-weight: var(--fontWeightMedium);
  line-height: 1;
  opacity: 0;

  @media (--mediaDesktop) {
    & {
      font-size: calc((28 / 16) * 1rem);
      margin-bottom: var(--space2XL);
    }
  }

  @media (--mediaTablet) {
    & {
      font-size: calc((18 / 16) * 1rem);
      margin-bottom: var(--space2XL);
    }
  }

  @media (--mediaMobile) {
    & {
      margin-bottom: 20px;
      letter-spacing: 0.2em;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  @media (max-width: 820px) and (max-height: 420px) {
    & {
      margin-bottom: 20px;
      margin-top: 30px;
    }
  }
}

.outro__name--entering {
  animation: fade-in var(--durationL) ease 0.2s forwards;
}

.outro__name--entered {
  animation: fade-in var(--durationL) ease 0.2s forwards;
}

.outro__title {
  display: flex;
  flex-direction: column;
  font-size: calc((140 / 16) * 1rem);
  letter-spacing: -0.005em;

  @media (--mediaDesktop) {
    & {
      font-size: calc((120 / 16) * 1rem);
    }
  }

  @media (--mediaLaptop) {
    & {
      font-size: calc((100 / 16) * 1rem);
    }
  }

  @media (max-width: 860px) {
    & {
      font-size: calc((80 / 16) * 1rem);
    }
  }

  @media (--mediaMobile) {
    & {
      font-size: calc((56 / 16) * 1rem);
    }
  }

  @media (--mediaMobileS) {
    & {
      font-size: calc((42 / 16) * 1rem);
    }
  }
}

.outro__title-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.outro__title-row--hidden {
  opacity: 0;
}

@keyframes outro-text-reveal {
  0% {
    color: rgb(var(--rgbText) / 0);
  }
  50% {
    color: rgb(var(--rgbText) / 0);
  }
  60% {
    color: var(--colorTextTitle);
  }
  100% {
    color: var(--colorTextTitle);
  }
}

@keyframes outro-text-reveal-mask {
  0% {
    transform: scale3d(0, 1, 1);
    transform-origin: left;
  }
  50% {
    transform: scale3d(1, 1, 1);
    transform-origin: left;
  }
  51% {
    transform: scale3d(1, 1, 1);
    transform-origin: right;
  }
  100% {
    transform: scale3d(0, 1, 1);
    transform-origin: right;
  }
}

.outro__title-word {
  position: relative;
  display: flex;
  align-items: center;
  line-height: 1;
  animation-duration: 1.5s;
  animation-delay: var(--delay);
  animation-fill-mode: forwards;
  animation-timing-function: var(--bezierFastoutSlowin);
  color: rgb(var(--rgbText) / 0);
  transition: opacity 0.5s ease 0.4s;

  &::after {
    content: '';
    width: 100%;
    height: 100%;
    background: rgb(var(--rgbAccent));
    animation-duration: 1.5s;
    animation-delay: var(--delay);
    animation-fill-mode: forwards;
    animation-timing-function: var(--bezierFastoutSlowin);
    transform-origin: left;
    transform: scale3d(0, 1, 1);
    position: absolute;
    inset: 0;
    z-index: 1;
    will-change: transform;
  }
}

.outro__title-word--plus::before {
  content: '+';
  margin-right: 10px;
  opacity: 0.4;
}

.outro__title-word--entering {
  animation-name: outro-text-reveal;

  @media (--mediaUseMotion) {
    &::after {
      animation-name: outro-text-reveal-mask;
    }
  }
}

.outro__title-word--entered {
  color: var(--colorTextTitle);

  &::after {
    opacity: 1;
    transform: scale3d(0, 0, 1);
    transform-origin: right;
  }
}

.outro__title-word--exiting {
  color: var(--colorTextTitle);
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: 0;
}

@keyframes outro-line {
  0% {
    transform: scaleX(0);
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}

.outro__title-line {
  content: '';
  height: 2px;
  background: rgb(var(--rgbText) / 0.3);
  width: 120%;
  display: flex;
  margin-left: 20px;
  animation-duration: 0.8s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: var(--bezierFastoutSlowin);
  transform-origin: left;
  opacity: 0;
}

.outro__title-line--entering {
  animation-name: fade-in;

  @media (--mediaUseMotion) {
    & {
      animation-name: outro-line;
    }
  }
}

.outro__title-line--entered {
  transform: scaleX(1);
  opacity: 1;
}

@keyframes outro-scroll-indicator {
  0% {
    transform: translate3d(-1px, 0, 0);
    opacity: 0;
  }
  20% {
    transform: translate3d(-1px, 0, 0);
    opacity: 1;
  }
  100% {
    transform: translate3d(-1px, 8px, 0);
    opacity: 0;
  }
}

.outro__scroll-indicator {
  border: 2px solid rgb(var(--rgbText) / 0.4);
  border-radius: 20px;
  width: 26px;
  height: 38px;
  position: fixed;
  bottom: 64px;
  transition-property: opacity;
  transition-duration: var(--durationL);
  transition-timing-function: ease;
  opacity: 0;

  &::before {
    content: '';
    height: 7px;
    width: 2px;
    background: rgb(var(--rgbText) / 0.4);
    border-radius: 4px;
    position: absolute;
    top: 6px;
    left: 50%;
    transform: translateX(-1px);
  }

  @media (--mediaUseMotion) {
    & {
      transition-property: opacity, transform;
    }

    &::before {
      animation: outro-scroll-indicator 2s ease infinite;
    }
  }

  @media (max-width: 820px) and (max-height: 420px) {
    & {
      display: none;
    }
  }
}

.outro__scroll-indicator--entered {
  opacity: 1;
}

.outro__scroll-indicator--hidden {
  opacity: 0;

  @media (--mediaUseMotion) {
    & {
      transform: translate3d(0, 20px, 0);
    }
  }
}

@keyframes outro-mobile-scroll-indicator {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

.outro__mobile-scroll-indicator {
  position: fixed;
  bottom: 20px;
  opacity: 0;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.8, 0.1, 0.27, 1);
  transition-duration: var(--durationM);

  @media (--mediaUseMotion) {
    & {
      animation-name: outro-mobile-scroll-indicator;
      transition-property: opacity, transform;
      transform: translate3d(0, 20px, 0);
    }
  }

  @media (max-width: 820px) and (max-height: 420px) {
    & {
      display: none;
    }
  }
}

.outro__mobile-scroll-indicator--entered {
  opacity: 1;
}

.outro__mobile-scroll-indicator--hidden {
  opacity: 0;
  transform: none;
}

.outro__mobile-scroll-indicator svg {
  stroke: rgb(var(--rgbText) / 0.5);
}

.contact {
    --form-height: 530px;
  
    position: absolute;
    display: flex;
    justify-content: center;
    padding-top: calc(50vh - var(--form-height) / 2);
    min-height: 100vh;
    width: 100%;
  
    @media (--mediaMobile) {
      & {
        padding-top: 0;
      }
    }
  }
  
  .contact--entered,
  .contact--exiting {
    position: relative;
  }
  
  .contact__form {
    max-width: var(--maxWidthS);
    width: 100%;
    padding: var(--space2XL) 0;
  
    @media (--mediaMobile) {
      & {
        padding: var(--space5XL) 0 var(--space2XL);
        align-self: flex-start;
      }
    }
  }
  
  .contact__title {
    margin-bottom: var(--space2XL);
    transition-property: opacity;
    transition-timing-function: var(--bezierFastoutSlowin);
    transition-duration: var(--durationXL);
    transition-delay: var(--delay);
    opacity: 0;
  
    @media (--mediaUseMotion) {
      & {
        transition-property: transform, opacity;
        transform: translate3d(0, var(--space5XL), 0);
      }
    }
  }
  
  .contact__title--entering,
  .contact__title--entered {
    transform: none;
    opacity: 1;
  }
  
  .contact__title--exiting {
    transition-duration: var(--durationM);
    transition-delay: 0s;
    opacity: 0;
  
    @media (--mediaUseMotion) {
      & {
        transform: translate3d(0, calc(var(--space2XL) * -1), 0);
      }
    }
  }
  
  .contact__title--hidden {
    opacity: 0;
  
    @media (--mediaUseMotion) {
      & {
        transform: translate3d(0, var(--space5XL), 0);
      }
    }
  }
  
  .contact__divider {
    margin-bottom: var(--space3XL);
    transition-property: opacity;
    transition-timing-function: var(--bezierFastoutSlowin);
    transition-duration: var(--durationXL);
    transition-delay: var(--delay);
    opacity: 0;
  
    @media (--mediaUseMotion) {
      & {
        transition-property: transform, opacity;
        transform: translate3d(0, var(--space5XL), 0);
      }
    }
  }
  
  .contact__divider--entering,
  .contact__divider--entered {
    transform: none;
    opacity: 1;
  }
  
  .contact__divider--hidden {
    opacity: 0;
  
    @media (--mediaUseMotion) {
      & {
        transform: translate3d(0, var(--space5XL), 0);
      }
    }
  }
  
  .contact__divider--exiting {
    transition-duration: var(--durationM);
    transition-delay: 0s;
    opacity: 0;
  
    @media (--mediaUseMotion) {
      & {
        transform: translate3d(0, calc(var(--space2XL) * -1), 0);
      }
    }
  }
  
  .contact__input {
    transition-property: opacity;
    transition-timing-function: var(--bezierFastoutSlowin);
    transition-duration: var(--durationXL);
    transition-delay: var(--delay);
    opacity: 0;
  
    @media (--mediaUseMotion) {
      & {
        transition-property: transform, opacity;
        transform: translate3d(0, var(--space3XL), 0);
      }
    }
  }
  
  .contact__input + .contact__input {
    margin-top: var(--spaceXL);
  }
  
  .contact__input--entering,
  .contact__input--entered {
    transform: none;
    opacity: 1;
  }
  
  .contact__input--hidden {
    opacity: 0;
  
    @media (--mediaUseMotion) {
      & {
        transform: translate3d(0, var(--space3XL), 0);
        transform: none;
      }
    }
  }
  
  .contact__input--exiting {
    transition-duration: var(--durationM);
    transition-delay: 0s;
    opacity: 0;
  
    @media (--mediaUseMotion) {
      & {
        transform: translate3d(0, calc(var(--space2XL) * -1), 0);
      }
    }
  }
  
  .contact__button {
    margin-top: calc(var(--spaceXL) * 2);
    transition-property: opacity;
    transition-timing-function: var(--bezierFastoutSlowin);
    transition-delay: var(--delay);
    transition-duration: var(--durationXL);
    opacity: 0;
    justify-self: flex-start;
  
    @media (--mediaUseMotion) {
      & {
        transition-property: transform, opacity;
        transform: translate3d(0, var(--space3XL), 0);
      }
    }
  }
  
  .contact__button--entered {
    transition-delay: 0ms;
    transition-duration: var(--durationM);
  }
  
  .contact__button--hidden {
    opacity: 0;
  
    @media (--mediaUseMotion) {
      & {
        transform: translate3d(0, var(--space3XL), 0);
      }
    }
  }
  
  .contact__button--sending {
    & svg {
      transition: transform var(--bezierFastoutSlowin) var(--durationXL),
        opacity var(--durationS) ease var(--durationS);
      transform: translate3d(var(--space5XL), 0, 0);
      opacity: 0;
    }
  
    @media (--mediaReduceMotion) {
      & svg {
        transition-property: opacity;
        transform: none;
      }
    }
  
    & .loader {
      opacity: 0;
      animation: fade-in var(--durationM) ease var(--durationL) forwards;
    }
  }
  
  .contact__button--entering,
  .contact__button--entered {
    transform: none;
    opacity: 1;
  }
  
  .contact__button--entering:hover {
    transform: none;
  }
  
  .contact__button--exiting {
    transition-duration: var(--durationM);
    transition-delay: 0s;
    opacity: 0;
  
    @media (--mediaUseMotion) {
      & {
        transform: translate3d(0, calc(var(--space2XL) * -1), 0);
      }
    }
  }
  
  .contact__complete {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--spaceXL) var(--spaceM);
    position: fixed;
    text-align: center;
    inset: 0;
  }
  
  .contact__complete-title {
    margin: 0;
    transition-property: opacity;
    transition-timing-function: var(--bezierFastoutSlowin);
    transition-duration: var(--durationXL);
    transition-delay: var(--delay);
    opacity: 0;
  
    @media (--mediaUseMotion) {
      & {
        transition-property: transform, opacity;
        transform: translate3d(0, var(--space3XL), 0);
      }
    }
  }
  
  .contact__complete-title--entered {
    transform: none;
    opacity: 1;
  }
  
  .contact__complete-text {
    margin-top: var(--spaceM);
    transition-property: opacity;
    transition-timing-function: var(--bezierFastoutSlowin);
    transition-duration: var(--durationXL);
    transition-delay: var(--delay);
    opacity: 0;
  
    @media (--mediaUseMotion) {
      & {
        transition-property: transform, opacity;
        transform: translate3d(0, var(--space3XL), 0);
      }
    }
  }
  
  .contact__complete-text--entered {
    transform: none;
    opacity: 1;
  }
  
  .contact__complete-button {
    margin-top: var(--spaceL);
    transition-property: opacity;
    transition-timing-function: var(--bezierFastoutSlowin);
    transition-duration: var(--durationXL);
    transition-delay: var(--delay);
    opacity: 0;
  
    @media (--mediaUseMotion) {
      & {
        transition-property: transform, opacity;
        transform: translate3d(0, var(--space3XL), 0);
      }
    }
  }
  
  .contact__complete-button--entered {
    transform: none;
    opacity: 1;
  }
  
  .contact__form-error {
    color: rgb(var(--rgbError));
    overflow: hidden;
    height: var(--height);
  
    @media (--mediaUseMotion) {
      & {
        transition-property: height;
        transition-duration: var(--durationM);
        transition-timing-function: var(--bezierFastoutSlowin);
      }
    }
  }
  
  .contact__form-error-content {
    padding-top: var(--spaceXL);
  }
  
  .contact__form-error-message {
    display: flex;
    padding: var(--spaceM);
    line-height: 24px;
    background-color: rgb(var(--rgbError) / 0.1);
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 16px), calc(100% - 16px) 100%, 0 100%);
  }
  
  .contact__form-error-icon {
    flex: 0 0 auto;
    margin-right: var(--spaceS);
  }
  